@model PHAMVIETDUNG_SE1885_A01_FE.Presentation.ViewModels.CategoryViewModel

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="actionModalLabel">Create Category</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form asp-action="CreateCategory" class="modal-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="CategoryName" class="control-label fw-semibold mb-1">Name</label>
                    <input asp-for="CategoryName" class="form-control" placeholder="Entet Category Name" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CategoryDesciption" class="control-label fw-semibold mb-1">Description</label>
                    <input asp-for="CategoryDesciption" class="form-control" placeholder="Enter Description" />
                    <span asp-validation-for="CategoryDesciption" class="text-danger"></span>
                </div>
                 <div class="form-group mb-3">
                     <label asp-for="ParentCategoryId" class="control-label fw-semibold mb-1">Parent Category</label>
                     <select asp-for="ParentCategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.ParentCategories, "CategoryId", "CategoryName"))">
                         <option value="">-- None --</option>
                     </select>
                </div>
                
                <div class="form-check mb-3">
                     <input class="form-check-input" type="checkbox" asp-for="IsActive" checked />
                     <label class="form-check-label" asp-for="IsActive">
                        Active
                     </label>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary px-4">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
